<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description | escape }}">{% endif %}
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <body>
    <div class="main">
      {% include nav.html %}
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>
